
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="htlfndr-about-us">
    <main class="htlfndr-main-content" id="htlfndr-main-content" role="main">
        <article>
            <div class="h5 text-center text-uppercase">
            </div>
            <h1 class="text-center">Biz Kimiz?</h1>
            <div class="htlfndr-section-under-title-line"></div>
            <div class="htlfndr-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               
            </div>
        </article>
        <article class="htlfndr-creative-team">
            <div class="htlfndr-video-block">
                <div class="htlfndr-video-title">
                    <p class="htlfndr-title-first"><b>Çok Çalış, Kaliteyi Yakala!</b></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <p class="text-center htlfndr-font-24"><i class="fa fa-users"></i></p>
            <h1 class="text-center">Is Ortaklarimiz</h1>
            <hr>
            <p class="small text-center">Neque cursus curae ante scelerisque vehicula porttitor natoque risus vitae lacinia felis elit</p>
            <p class="small text-center">netus sed iaculis interdum nullam sem habitasse vulputate laoreet turpis fringilla duis suspendisse arcu</p>
            <div class="row container">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="htlfndr-user-person-navigation">
                        <div class="htlfndr-user-avatar"><img alt="user avatar" src="~/images/default.png"></div>
                        <h3 class="htlfndr-user-name">Hakan Yunusoglu</h3>
                        <h6 class="htlfndr-user-membership">Kurucu</h6>
                        <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="htlfndr-user-person-navigation">
                        <div class="htlfndr-user-avatar"><img alt="user avatar" src="~/images/default.png"></div>
                        <h3 class="htlfndr-user-name">Huseyin Bilgili</h3>
                        <h6 class="htlfndr-user-membership">Kurucu</h6>
                        <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="htlfndr-user-person-navigation">
                        <div class="htlfndr-user-avatar"><img alt="user avatar" src="~/images/default.png"></div>
                        <h3 class="htlfndr-user-name">Yasin Arga</h3>
                        <h6 class="htlfndr-user-membership">Gelistirici</h6>
                        <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="htlfndr-user-person-navigation">
                        <div class="htlfndr-user-avatar"><img alt="user avatar" src="~/images/default.png"></div>
                        <h3 class="htlfndr-user-name">Kazim Agircan</h3>
                        <h6 class="htlfndr-user-membership">Tasarimci</h6>
                        <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="htlfndr-contact container">
            <h1 class="text-center">Bizimle Calismak Ister Misiniz?</h1>
            <p class="text-center htlfndr-slogan">Senin gibi birini ariyoruz!</p>
            <p class="text-center htlfndr-font-24"><i class="fa fa-paper-plane"></i></p>
            <p class="text-center"><a class="btn-default" href="contact-us.html#htlfndr-contact-us">Bizimle Iletisime Gec!</a></p>
        </article>
    </main>
</div>

