
<li id="htlfndr-singup-link">
    <a data-target="#htlfndr-sing-up" data-toggle="modal" href="index.htm#"><span>Üye Ol</span></a>
    @if ((string)ViewData["message"] == "true")
    {
        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i>Incorrect email or password</div>
    }
    else
    {

    }
</li>
<li id="htlfndr-singin-link">
    <a data-target="#htlfndr-sing-in" data-toggle="modal" href="index.htm#"><span>Giriş Yap</span></a>
</li>