<div id="htlfndr-recovery">
    <div class="htlfndr-content-card">
        <div class="htlfndr-card-title clearfix">
            <h2 class="pull-left">Şifremi Unuttum</h2>
        </div>
        @using (Html.BeginForm("RecoveryPassword", "User", FormMethod.Post,new {id= "htlfndr-recovery-form" }))
        {
            <h4>E-Mail</h4><input class="htlfndr-input" id="mail" name="mail" type="text">
            <div class="clearfix">
                <span>Zaten hesabım var<a data-target="#htlfndr-sing-in" data-toggle="modal" href="#"><span>Giriş Yap</span></a></span>
                <input class="pull-right" type="submit" value="Gönder">
            </div>
        }
    </div>
</div>